<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.EnterpriseInfoMapper">


    <select id="list" resultType="com.example.entity.EnterpriseInfo">
        select * from VW_HM_YW_TTDW00_ZYB
    </select>
</mapper>